.reg-page {
background: #FEFEFE;
border: 1px solid #EEE;
color: #555;
padding: 30px;
}
.hr {
border: 1px;
border-top: 1px solid #EEE;
margin-bottom: 20px;
margin-top: 20px;
}
.h4 {
font-family: 'Open Sans', sans-serif;
font-weight: normal !important;
margin-top: 5px;
text-shadow: none;
}
.row {
margin-left: -15px;
margin-right: -15px;
margin-top: 20px;
}
.col-md-6-1 {
width: 50%;
float: left;
}
.col-md-6-2 {
width: 50%;
float: right;
}
.form-group {
margin-bottom: 100px;
}